@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Black+Ops+One&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import 'tailwindcss';

@theme {
    --font-black: 'Black Ops One', 'system-ui';
    --font-quantico: 'Quantico', 'sans-serif';
}
